{% extends 'Layout.html' %}
{% load static %}
	 {% block content %}
<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_title">Search for your trip</div>
						<div class="home_search_content">
							<form action="#" class="home_search_form" id="home_search_form">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
									<input type="text" class="search_input search_input_1" placeholder="City" required="required">
									<input type="text" class="search_input search_input_2" placeholder="Departure" required="required">
									<input type="text" class="search_input search_input_3" placeholder="Arrival" required="required">
									<input type="text" class="search_input search_input_4" placeholder="Budget" required="required">
									<button class="home_search_button">search</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->
<div class="home">
		<div class="background_image" style="background-image:url({% static 'images/contact.jpg' %})"></div>
	</div>
	<div class="contact">
		<div class="container">
			<div class="row">

				<!-- Get in touch -->
				<div class="col-lg-6">
					<div class="contact_content">
						<div class="contact_title">Get in touch with us</div>
						<div class="contact_text">
							<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet. Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
						</div>
						<div class="contact_list">
							<ul>
								<li>
									<div>address:</div>
									<div>1481 Creekside Lane Avila Beach, CA 931</div>
								</li>
								<li>
									<div>phone:</div>
									<div>+53 345 7953 32453</div>
								</li>
								<li>
									<div>email:</div>
									<div>yourmail@gmail.com</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Contact Form -->
				<div class="col-lg-6">
					<div class="contact_form_container">
						<form action="/registration" id="contact_form" class="contact_form" method="post">
                                 {% csrf_token %}
							<div style="margin-bottom: 18px">
                                <input type="text" name="username" class="contact_input contact_input_name inpt" placeholder="Your username" required="required">
                                <div class="input_border"></div>
                            </div>
                            <div style="margin-bottom: 18px">
                                <input type="text" name="first" class="contact_input contact_input_name inpt" placeholder="Your first name" required="required">
                                <div class="input_border"></div>
                            </div>
                            <div style="margin-bottom: 18px">
                                <input type="text" name="last" class="contact_input contact_input_name inpt" placeholder="Your last name" required="required">
                                <div class="input_border"></div>
                            </div>
                            <div style="margin-bottom: 18px">
                                <input type="text"  name="email" class="contact_input contact_input_name inpt" placeholder="Your email" required="required">
                                <div class="input_border"></div>
                            </div>
                             <div style="margin-bottom: 18px">
                                <input type="text" name="Password" class="contact_input contact_input_name inpt" placeholder="Your Password" required="required">
                                <div class="input_border"></div>
                            </div>
                             <div style="margin-bottom: 18px">
                                <input type="text" name="ConfirmPassword" class="contact_input contact_input_name inpt" placeholder="Confirm Password" required="required">
                                <div class="input_border"></div>
                            </div>
 							<button class="contact_button">send</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


  {% endblock %}